<!-- templates/manual_category_confirm.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カテゴリー削除確認</title>
</head>
<body>
    <h2>カテゴリ「{{ delete_category }}」を削除してもよいですか？</h2>
    <form action="{{ url_for('manual.delete_category_final') }}" method="post">
        <input type="hidden" name="delete_category" value="{{ delete_category }}">
        <button type="submit">削除する</button>
        <a href="{{ url_for('manual.manage_category') }}">キャンセル</a>
    </form>
</body>
</html>
